In [1]:
import pandas as pd
import country_converter as coco

In [8]:
long_lat = pd.read_csv('../Data/world_country_and_usa_states_latitude_and_longitude_values.csv')

In [9]:
long_lat = long_lat.drop(columns=['usa_state_code', 'usa_state_longitude', 'usa_state', 'usa_state_latitude'])

In [10]:
long_lat

    country_code   latitude  longitude               country
0             AD  42.546245   1.601554               Andorra
1             AE  23.424076  53.847818  United Arab Emirates
2             AF  33.939110  67.709953           Afghanistan
3             AG  17.060816 -61.796428   Antigua and Barbuda
4             AI  18.220554 -63.068615              Anguilla
..           ...        ...        ...                   ...
240           YE  15.552727  48.516388                 Yemen
241           YT -12.827500  45.166244               Mayotte
242           ZA -30.559482  22.937506          South Africa
243           ZM -13.133897  27.849332                Zambia
244           ZW -19.015438  29.154857              Zimbabwe

[245 rows x 4 columns]